[Desktop Entry]
Version=1.0
Type=Application
Name=Visual Studio Code
Comment=Code Editing. Redefined.
Exec=/usr/share/code/code --no-sandbox --password-store=basic --unity-launch %F
Icon=/usr/share/pixmaps/vscode.png
Path=
Terminal=false
StartupNotify=false
